{% extends 'base.html' %}

{% load staticfiles %}

{% block externalLinks %}

{% endblock %}

{% block mainContent %}
<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow" style="display: inline-block; width: -webkit-fill-available;">

            <!-- WHATEVER YOU WRITE, WRITE IT HERE -->
            
            <!-- <div class="card-head">
                <h1 align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large; color: #4CAF50"> Create a new budget</h1>
            </div>

            <div class="card-body">
                <div>
                    <form action="{% url 'budgetAddPage' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="product">Product's Name</label>
                            <input type="text" id="brandName" name="product" placeholder="Ex: Lipton" class="form-control text-dark">
                        </div>

                        <div class="form-group">
                        <label for="year">Year</label>
                        <select id="year" name="year" class="form-control text-dark">
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2002">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                        </select>
                        </div>

                        <div class="form-group">
                        <label for="quarter">Quarter</label>
                        <select id="year" name="quarter" class="form-control text-dark">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        </div>

                        <div class="form-group">
                        <label for="type">Type</label>
                        <select id="type" name="type" class="form-control text-dark">
                            <option value="Before Quarter">Before Quarter</option>
                            <option value="After Quarter">On Quarter</option>

                        </select>
                        </div>

                        <div class="form-group">
                        <button type="submit" name="button" class="btn btn-primary">Submit</button>
                        </div>
                        <!-- <input type="submit" value="Submit"> -->
                    </form>
                </div>
            </div> -->

        </div>
    </div>
</div>
{% endblock %}
