{% extends 'base.html' %}

{% load staticfiles %}

{% block externalLinks %}

{% endblock %}

{% block mainContent %}

<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card bg-gradient-default shadow" style="display: inline-block; width: -webkit-fill-available;">
            <div class="card-head" style="padding: 1%">
                <div class="col-xl-6" style="display: inline-block; float: left;">
                    <h3 class="text-light">{{ wbs.cc.id }}</h3>
                    <h1 class="text-light">{{ wbs.cc.name }}</h1>
                </div>
                <div class="col-xl-4" style="display: inline-block; float: left;">
                    <h3 class="text-light">CURRENT BUDGET</h3>
                    <h1 class="text-light">${{ wbs.amount }}</h1>
                </div>

            </div>
            <div class="card-body" style="clear:both;">
                <div class="row h-100 text-light">
                    Type of Transfer Proposed: {{ transfer }}
                </div>
            </div>
        </div>
    </div>
</div>

{% for c in comments %}
<!-- {{ c }} -->
<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow" style="display: inline-block; width: -webkit-fill-available;">
            <div class="card-head">
                <div class="media align-items-center">
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">{{ c.user.first_name }} {{ c.user.last_name }}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row h-80">
                    {{ c.text }}
                </div>
                <div class="row h-20">
                    {% if c.attachment %}
                    <a href="{{ c.attachment.url }}">Click here to Download the attachment</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<hr>

<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow" style="display: inline-block; width: -webkit-fill-available;">
            <!-- <div class="card-head">
                <h1 align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large; color: #4CAF50"> Create a new budget</h1>
            </div> -->

            <div class="card-body">
                <div>
                    <form action="{% url 'comments' wbs.id %}" method="POST">
                        {% csrf_token %}

                        <input type="hidden" name="user" value="{{ user }}">


                        <label for="type" class="" {% if transfer is not None %} style="display: none;" {% endif %}>What Kind of transaction do you want to propose?</label>
                        <div class="form-group" {% if transfer is not None %} style="display: none;" {% endif %}>
                            <select class="form-group" name="type" class="form-group">
                                <option value="0" Selected>I just want to comment</option>
                                <option value="1">Add</option>
                                <option value="2">Remove</option>
                                <option value="3">Transfer from another WBS element</option>
                            </select>
                        </div>

                        <!-- <div class="form-group" {% if transfer is not None %} style="display: none;" {% endif %}>
                            <label for="target">Transfer Target <small>(Please select none if your transaction is not type 3)</small></label>

                            <select class="form-group" name="oth" class="form-group">
                                <option value="None" Selected>None</option>
                                {% for o in otherWBS %}
                                <option value="1">{{ o }}</option>
                                <option value="2" >Remove</option>
                                <option value="3" >Transfer from another WBS element</option>
                                {% endfor %}
                            </select>
                        </div> -->

                        <div class="form-group" {% if transfer is not None %} style="display: none;" {% endif %}>
                            <label for="amount">Enter the amount</label>
                            <input type="number" name="amount">
                        </div>

                        <div class="form-group">
                            <label for="text">Comment</label>

                            <textarea class="form-control text-dark" name="text" rows="8" cols="80"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="attachment">Upload an attachment </label>

                            <input type="file" name="attachment" class="form-group">
                        </div>
                        <!-- <div class="container"> -->

                        {% if profile.level > 2 %}
                        <div class="form-group" style="display: inline-block; float: right; margin-left: 1%;">
                            <button type="submit" name="reject" class="btn btn-danger">Reject</button>
                        </div>
                        <div class="form-group" style="display: inline-block; float: right; margin-left: 1%;">
                            <button type="submit" name="accept" class="btn btn-success">Accept</button>
                        </div>

                        {% elif profile.level is 2 %}
                        {% if access is 1 and transfer.type is 1 %}
                        <div class="form-group" style="display: inline-block; float: right; margin-left: 1%;">
                            <button type="submit" name="accept" class="btn btn-success">Accept</button>
                        </div>
                        <div class="form-group" style="display: inline-block; float: right; margin-left: 1%;">
                            <button type="submit" name="reject" class="btn btn-danger">Reject</button>
                        </div>
                        {% elif access is 2 and transfer.type is 2 %}
                        <div class="form-group" style="display: inline-block; float: right; margin-left: 1%;">
                            <button type="submit" name="accept" class="btn btn-success">Accept</button>
                        </div>
                        <div class="form-group" style="display: inline-block; float: right; margin-left: 1%;">
                            <button type="submit" name="reject" class="btn btn-danger">Reject</button>
                        </div>
                        {% endif %}

                        {% endif %}
                        <div class="form-group" style="display: inline-block; float: right; margin-left: 1%;">
                            <button type="submit" name="comment" class="btn btn-primary">Comment</button>
                        </div>
                        <!-- </div> -->


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- {{ transfer }} -->

{% endblock %}
